




.border-line-o{
    width: 10%;
    border-bottom: 2px solid black;
    margin: 20px 0;
}


.border-line-v{
    height: 10vh;
    width: 10%;
    border-right: 2px solid black;
    margin: 20px 0;
}
